@using CapstoneProject.Models;
@model IEnumerable<CapstoneProject.Models.WorkSpace>

@{
    ViewBag.Title = "Home Page";
}
<div>@Html.ActionLink("CreateWorkSpace", "CreateWorkSpace","Home")</div>
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>WorkSpace Name</th>
            <th>Discription</th>
            <th>Bilimail</th>
            <th>Create date</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>WorkSpace Name</th>
            <th>Discription</th>
            <th>Bilimail</th>
            <th>Create date</th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.ActionLink(item.WorkSpaceName, "ShowWorkSpace", new { id = item.ID })</td>
                <td>@Html.DisplayFor(modle => item.Description)</td>
                <td>@Html.DisplayFor(model => item.Bilimail)</td>
                <td>@Html.DisplayFor(modle => item.Createdate)</td>
            </tr>
        }

    </tbody>
</table>