
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_NullLayout.cshtml";

}
@section CustomCss{

}
<div class="cw-intro-page row">
    <div class="col-sm-6 cw-wapper">
        <h1 style="font-size: 40px;line-height: 47px;text-align: left;font-weight:300"><strong>@CapstoneProject.Content.resources.CWIntro.Clockworks_Intro_slogan1</strong> @CapstoneProject.Content.resources.CWIntro.Clockworks_Intro_slogan2</h1>
        <div class="cw-benefit">
            <p>@CapstoneProject.Content.resources.CWIntro.Clockworks_Intro_benifits1&nbsp;<strong>@CapstoneProject.Content.resources.CWIntro.Clockworks_Intro_benifits2</strong>&nbsp;@CapstoneProject.Content.resources.CWIntro.Clockworks_Intro_benifits3</p>
            <ul>
                <li>@CapstoneProject.Content.resources.CWIntro.Clockworks_Intro_benefit1</li>
                <li>@CapstoneProject.Content.resources.CWIntro.Clockworks_Intro_benefit2</li>
                <li>@CapstoneProject.Content.resources.CWIntro.Clockworks_Intro_benefit3</li>
                <li>
                    @CapstoneProject.Content.resources.CWIntro.Clockworks_Intro_benefit4
                </li>
            </ul>
            <div class="cw-btn-intro">
                <a href="@Url.Action("CreateGroup","Group")" class="btn btn-success cw-btn-big" btn>@CapstoneProject.Content.resources.CWIntro.Clockworks_Intro_create_button</a>
                <a href="@Url.Action("Index", "Group")" class="btn btn-default cw-btn-big" btn>@CapstoneProject.Content.resources.CWIntro.Clockworks_Intro_find_button</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 cw-wapper">
        <img src="~/Content/images/intro.jpg" width="600" height="400" alt="Alternate Text" />
    </div>
</div>