@model IEnumerable<CapstoneProject.Models.WorkSpace>
@{ 
    ViewBag.Title = "Home Page";
}

<h2>Workspace list</h2>
<table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Decription</th>
            <th>Billing Email</th>
            <th>Image</th>
            <th>Tool</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.workspace_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bilimail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.image)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { contactId = item._id })
                </td>
            </tr>
        }
    </tbody>
</table>