@model CapstoneProject.Models.WorkSpace
@using CapstoneProject.Models

@{
    ViewBag.Title = "AddMemberWS";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var db = new PMSEntities();

}

@using (Html.BeginForm("AddMemberWS", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)

    <h2>AddMemberWS</h2>


    <div class="input-group">
        <span class="control-label col-md-3 col-sm-3 col-xs-12">User</span>
        <div class="col-md-9 col-sm-9 col-xs-12">
            @*<select class="form-control">*@
            @foreach (var item in db.AspNetUsers)
            {
                @*<option id="adduser" value="@item.Id" name="adduser">@item.Email</option>*@
                <div class="input-group col-md-3" style="margin:7px;padding: 0;margin-left:20px">
                    <span class="form-control-radio">@item.Email</span>
                    <input runat="server" value="@item.Email" id="@item.Id" type="checkbox" class="form-control-radio" name="adduser">
                </div>
            }
            @*</select>*@
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add Member" class="btn btn-default" />
            </div>
        </div>

        <div>

        </div>

    </div>

}


@{
    var listuser = db.WS_User_Roles.Where(x => x.WorkSpace_ID == Model.ID).ToList();


}


<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Member</th>
            <th>Role</th>
            <th>Tool</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in listuser)
        {
            <tr>
                <td>@item.AspNetUser.Email</td>
                <td>
                    @if (item.Role_Admin == true)
                    {
                        <p>Admin</p>
                    }
                    @if (item.Role_Manager == true)
                    {
                        <p>Manager</p>
                    }
                    @if (item.Role_Member == true)
                    {
                        <p>Member</p>
                    }
                </td>
                <td>@Html.ActionLink("Edit Role", "EditRoleMemberWS", new { id = item.ID })</td>
            </tr>
        }
    </tbody>
</table>



<div>
    @Html.ActionLink("Back to List", "ShowWorkSpace", new { id = Model.ID })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
