@model CapstoneProject.Models.WS_User_Roles

@{
    ViewBag.Title = "EditRoleMemberWS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Font Awesome -->
<link href="~/Content/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<!-- NProgress -->
<link href="~/Content/libs/nprogress/nprogress.css" rel="stylesheet">
<!-- iCheck -->
<link href="~/Content/libs/iCheck/skins/flat/green.css" rel="stylesheet">
<!-- bootstrap-wysiwyg -->
<link href="~/Content/libs/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
<!-- Select2 -->
<link href="~/Content/libs/select2/dist/css/select2.min.css" rel="stylesheet">
<!-- Switchery -->
<link href="~/Content/libs/switchery/dist/switchery.min.css" rel="stylesheet">
<!-- starrr -->
<link href="~/Content/libs/starrr/dist/starrr.css" rel="stylesheet">
<!-- bootstrap-daterangepicker -->
<link href="~/Content/libs/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

<!-- Custom Theme Style -->
<link href="~/Content/build/css/custom.min.css" rel="stylesheet">

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@Html.ValueFor(model => model.WorkSpace.WorkSpaceName)</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)


        <div class="form-group">
            @Html.LabelFor(model => model.User_ID, "User_ID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AspNetUser.Email, new { htmlAttributes = new { @class = "form-control", @Readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.User_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Role_Admin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div >
                    @*<label>
                        <input type="checkbox" class="js-switch" checked /> Checked
                    </label>*@
                    @Html.EditorFor(model => model.Role_Admin)
                    @Html.ValidationMessageFor(model => model.Role_Admin, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Role_Manager, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Role_Manager)
                    @Html.ValidationMessageFor(model => model.Role_Manager, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Role_Member, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Role_Member)
                    @Html.ValidationMessageFor(model => model.Role_Member, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "AddMemberWS", new { id = Model.WorkSpace_ID })
</div>


<script src="~/Content/libs/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="~/Content/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="~/Content/libs/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="~/Content/libs/nprogress/nprogress.js"></script>
<!-- bootstrap-progressbar -->
<script src="~/Content/libs/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="~/Content/libs/iCheck/icheck.min.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="~/Content/libs/moment/min/moment.min.js"></script>
<script src="~/Content/libs/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- bootstrap-wysiwyg -->
<script src="~/Content/libs/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
<script src="~/Content/libs/jquery.hotkeys/jquery.hotkeys.js"></script>
<script src="~/Content/libs/google-code-prettify/src/prettify.js"></script>
<!-- jQuery Tags Input -->
<script src="~/Content/libs/jquery.tagsinput/src/jquery.tagsinput.js"></script>
<!-- Switchery -->
<script src="~/Content/libs/switchery/dist/switchery.min.js"></script>
<!-- Select2 -->
<script src="~/Content/libs/select2/dist/js/select2.full.min.js"></script>
<!-- Parsley -->
<script src="~/Content/libs/parsleyjs/dist/parsley.min.js"></script>
<!-- Autosize -->
<script src="~/Content/libs/autosize/dist/autosize.min.js"></script>
<!-- jQuery autocomplete -->
<script src="~/Content/libs/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
<!-- starrr -->
<script src="~/Content/libs/starrr/dist/starrr.js"></script>
<!-- Custom Theme Scripts -->
<script src="~/Content/build/js/custom.min.js"></script>
