@using CapstoneProject.Models;
@{
    ViewBag.Title = "Group List";
    Layout = "~/Views/Shared/_NullLayout.cshtml";
    var grouplist = ViewData["ListGroup"] as List<CapstoneProject.Models.WorkSpace>;
}
<div class="clearfix"><a href="@Url.Action("CreateGroup","Group")" class="btn btn-success pull-right">Create Group</a></div>
<div class="group-list row display-flex">
    @foreach (var item in grouplist)
     {
        var des = item.Description;
        if (des.Length > 100)
        {
            des = des.Substring(1, 100) + "...";
        }
        <div class="col-sm-3">
            <div class="cw-card">
                <div class="cw-group-image">
                    <a href="@Url.Action("ShowGroup","Group",new { id = item.ID})">
                        <img src="~/Content/images/workspace/@Html.DisplayFor(modle => item.ImageWS)" alt="@item.WorkSpaceName" class="image-medium" />
                    </a>
                </div>
                <div class="cw-group-infor">
                    <div class="cw-group-name">@Html.ActionLink(item.WorkSpaceName, "ShowGroup", new { id = item.ID })</div>
                    <div class="cw-group-author"><span class="cw-label">Author:</span>@Html.DisplayFor(modle => item.AspNetUser.UserName)</div>
                    <div class="cw-group-date"><span class="cw-label">Update at:</span>@Html.DisplayFor(modle => item.Createdate)</div>
                    <div class="cw-group-des" style="word-break:break-all">
                        <span class="cw-label">Description:</span>
                        @des
                    </div>
                </div>
            </div>
        </div>
     }
</div>