@using CapstoneProject.Models;
@model IEnumerable<CapstoneProject.Models.WorkSpace>

@{
    ViewBag.Title = "Home Page";
    PMSEntities db = new PMSEntities();
}
<div style="float:right"><a href="@Url.Action("CreateGroup","Group")" class="btn btn-success">Create Group</a></div>
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>@CapstoneProject.Content.resources.CWhome.clockworks_home_table_workspacename</th>
            <th>Discription</th>
            <th>Author</th>
            <th>Create date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.ActionLink(item.WorkSpaceName, "ShowGroup", new { id = item.ID })</td>
                <td>@Html.DisplayFor(modle => item.Description)</td>
                <td>@Html.DisplayFor(model => item.AspNetUser.Email)</td>
                <td>@Html.DisplayFor(modle => item.Createdate)</td>
            </tr>
        }

    </tbody>
</table>