@model CapstoneProject.Models.WorkSpace
@{
    ViewBag.Title = "InviteMember";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var db = new PMSEntities();
    var rs = db.WS_User_Roles.ToList();
}

<div class="cw-title">Sign up your group</div>
<ol class="cw-steps">
    <li>
        <i class="fas fa-briefcase"></i>
        <strong class="cw-step">Step 1:</strong>Set up your group
    </li>
    <li class="current">
        <i class="fas fa-user-plus"></i>
        <strong class="cw-step">Step 2:</strong>Invite Members
    </li>
</ol>
<div class="cw-container">
    @using (Html.BeginForm("InviteMember", "Group", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)



        <div class="input-group row">
            <span class="control-label col-md-3 col-sm-3 col-xs-12">User</span>
            <div class="col-md-9 col-sm-9 col-xs-12">
                @*<select class="form-control">
                *@
                @foreach (var item in db.AspNetUsers)
                {
                    <div class="input-group col-md-3" style="margin:7px;padding: 0;margin-left:20px">
                        <span class="form-control-radio">@item.Email</span>
                        <input runat="server" value="@item.Email" id="@item.Id" type="checkbox" class="form-control-radio" name="adduser">
                        @*@Html.DropDownListFor(m => m.Email,
                            new SelectList(Enum.GetValues(typeof(@item.Email))),
                            "Select Email")*@
                    </div>

                }
            </div>


            <div class="form-group row">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Add Member" class="btn btn-default" />
                </div>
            </div>

            <div>

            </div>

        </div>

    }
</div>
