@model CapstoneProject.Models.WorkSpace

@{
    ViewBag.Title = "SettingWorkSpace";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section CustomCss{
    <style>
        input[type=file] {
            outline: 0;
            opacity: 0;
            pointer-events: none;
            user-select: none;
        }

        .label {
            width: 120px;
            border: 2px dashed grey;
            border-radius: 5px;
            display: block;
            padding: 1.2em;
            transition: border 300ms ease;
            cursor: pointer;
            text-align: center;
        }

            .label i {
                display: block;
                font-size: 42px;
                padding-bottom: 16px;
            }

            .label i,
            .label .title {
                color: grey;
                transition: 200ms color;
            }

            .label:hover {
                border: 2px solid black;
            }

                .label:hover i,
                .label:hover .title {
                    color: black;
                }
    </style>
}

<div class="cw-workspace-header">
    <div class="cw-workspace-intro">
        <div class="cw-workspace-avatar">
            <img src="~/Content/images/workspace/@Html.DisplayFor(model => model.ImageWS)" alt="@Html.DisplayFor(model => model.WorkSpaceName)'s Avatar">
        </div>
        <div class="cw-workspace-name cw-normal-header">
            @Html.DisplayFor(model => model.WorkSpaceName)
        </div>
    </div>
    <ul class="cw-tabs">
        <li rel="process">
            <a href="@Url.Action("ShowGroup", "Group", new { id = Model.ID })"><i class="fas fa-sitemap"></i> Process</a>
        </li>
        <li rel="members">
            <a href="@Url.Action("AddMemberWS", "Group", new { id = Model.ID })"><i class="fas fa-user-friends"></i> Members</a>
        </li>
        <li rel="settings" class="cw-active-tab">
            <a href="@Url.Action("SettingGroup", "Group", new { id = Model.ID })"><i class="fas fa-cog"></i> Settings</a>
        </li>
    </ul>
</div>
<div class="cw-container">
    <h4> Setting</h4>
    <div class="cw-box">
        @using (Html.BeginForm("SettingGroup", "Group", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <br />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)

                <div class="form-group">
                    @Html.LabelFor(model => model.WorkSpaceName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.WorkSpaceName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.WorkSpaceName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ImageWS, htmlAttributes: new { @class = "control-label col-md-2" })

                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-2">
                                <label class="label">
                                    <i class="fas fa-paperclip"></i>
                                    <span class="title">Add Image</span>
                                    <input type="file" name="ImageWS" id="imgInp" />
                                </label>
                            </div>
                            <div class="col-md-10">
                                <img style="width: 200px;height: auto" id='img-upload' />
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button class="btn btn-success" type="submit"><i class="fas fa-save"></i>  Save</button>
                    </div>
                </div>
            </div>
        }
    </div>
    <h4>Danger zone</h4>
    <div class="cw-danger-box">
        <div class="row">
            <div class="col-md-10">
                <strong style="display:block">Delete this repository</strong>
                <p>Once you delete a repository, there is no going back. Please be certain</p>
            </div>
            <div class="col-md-2">
                <a href="@Url.Action("DeleteGroup","Group",new { id = Model.ID})" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Remove</a>

            </div>
        </div>
    </div>
</div>

@section CustomScripts {
    <script>
        $(document).ready(function () {
            $(document).on('change', '.btn-file :file', function () {
                var input = $(this),
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [label]);
            });

            $('.btn-file :file').on('fileselect', function (event, label) {

                var input = $(this).parents('.input-group').find(':text'),
                    log = label;

                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }

            });
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#img-upload').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#imgInp").change(function () {
                readURL(this);
            });
        });
    </script>
}
