@model CapstoneProject.Models.WorkSpace
@using CapstoneProject.Models;
@{
    ViewBag.Title = "ShowWorkSpace";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var db = new PMSEntities();
}
<div class="cw-workspace-header">
    <div class="cw-workspace-intro">
        <div class="cw-workspace-avatar">
            <img src="~/Content/images/workspace/@Html.DisplayFor(model => model.ImageWS)" alt="@Html.DisplayFor(model => model.WorkSpaceName)'s Avatar">
        </div>
        <div class="cw-workspace-name cw-normal-header">
            @Html.DisplayFor(model => model.WorkSpaceName)
        </div>
    </div>
    <ul class="cw-tabs">
        <li class="cw-active-tab" rel="process">
            <a href="@Url.Action("ShowGroup", "Group", new { id = Model.ID })"><i class="fas fa-sitemap"></i> Process</a>
        </li>
        <li rel="members">
            <a href="@Url.Action("AddMemberWS", "Group", new { id = Model.ID })"><i class="fas fa-user-friends"></i> Members</a>
        </li>
        <li rel="settings">
            <a href="@Url.Action("SettingGroup", "Group", new { id = Model.ID })"><i class="fas fa-cog"></i> Settings</a>
        </li>
    </ul>
</div>
<div class="cw-container">
    @{
        var listuser = db.WS_User_Roles.Where(x => x.WorkSpace_ID == Model.ID).ToList();
    }

    @foreach (var item in listuser)
    {
        <p>@item.AspNetUser.Email</p>
    }


</div>